  <hr class="item-line">

  <section id="contact" class="sign-ip-contact item-contact" >
    <h2>Contact</h2>
    <p class="contactsummary">Want to buy something online for the first time in history? Just reach out!</p>
    
    <address>
        <p class="phone">Phone:    <b>+1 (555) 111-5151</b></p>
        <p class="email">Email:   <b>AmazoneIsLegit@mysite.com</b></p>
    </address>
  </section>