<%= render "nav" %>

<main>
  <header class="sign-in">
    <h1 class="sign-in-h1">Welcome to Amazone</h1>
    <p class="sign-in-p">Please Sign In</p>

    <div class="login-wrap">
      <div class="email-login">
        <Label for="email">Email Address:</Label> <br>        
        <input type="email" id="email" name="user_email" placeholder="Email..." class="input1" required>
      </div>
      <div class="password-login">
        <label for="pwd">Password:</label> <br>
        <input type="password" id="pwd" name="pwd" placeholder="Password..." required>
      </div>
    </div>

    <button type="submit" value="signup">Sign in</button>
  </header>

  <hr>

  <section id="contact" class="sign-ip-contact">
    <h2>Contact</h2>
    <p class="contactsummary">Want to buy something online for the first time in history? Just reach out!</p>    
    <address>
      <p class="phone">Phone:    <b>+1 (555) 111-5151</b></p>
      <p class="email">Email:   <b>AmazoneIsLegit@mysite.com</b></p>
    </address>
  </section>
</main>

<%= render "footer" %>